<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Page</title>
  <style>
    html,
    body {
      height: 100%
    }
  </style>
</head>

<body>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <form class="col" action="/register" method="POST" enctype="multipart/form-data">
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">_Id</label>
          <input type="text" name="_id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div> -->
        
        <div class="form-group">
          <label for="exampleInputPassword1">FullName</label>
          <input type="text" name="FullName" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">at least 3 characters no numbers</small>

          <% if(error.toString().includes("FullName")){ %>
            <small class="text-danger">invalid FullName</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">UserName</label>
          <input type="text" name="UserName" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">at least 3 characters no numbers</small>

          <% if(error.toString().includes("UserName")){ %>
            <small class="text-danger">invalid UserName</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="Password" name="Password" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">at least 6 characters</small>

          <% if(error.toString().includes("Password")){ %>
            <small class="text-danger">invalid Password</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">city</label>
          <input type="text" name="Address.city" class="form-control" id="exampleInputPassword1">
          
          <% if(error.toString().includes("Address.city")){ %>
            <small class="text-danger">invalid City</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">street</label>
          <input type="text" name="Address.street" class="form-control" id="exampleInputPassword1">
          <% if(error.toString().includes("Address.street")){ %>
            <small class="text-danger">invalid Street</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">building</label>
          <input type="text" name="Address.building" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">Numbers Only</small>
          <% if(error.toString().includes("Address.building")){ %>
            <small class="text-danger">invalid Address</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Photo</label>
          <small id="emailHelp" class="form-text text-muted">will set to a default img if not choosen</small>
          <input type="file" name="avatar" />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login">Already have an account</a>
        
      </form>
    </div>
  </div>

</body>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>

</html>